
@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="transactionTable">
    <tr>
        <th>
            @Html.ActionLink("Navn", "Index", new { sortOrder = ViewBag.NameSortParm, @class = "sort" })
        </th>
        <th>
            @Html.ActionLink("Værdi", "Index", new { sortOrder = ViewBag.ValueSortParm, @class = "sort" })
        </th>
        <th>
            @Html.ActionLink("Dato", "Index", new { sortOrder = ViewBag.DateSortParm, @class = "sort" })
        </th>
        <th>
            @Html.ActionLink("Kategori", "Index", new { sortOrder = ViewBag.CatSortParm, @class = "sort" })
        </th>
    </tr>

</table>

@section scripts{
    <script>
        let template = [
            '<tr>',
                '<td>',
                    '<a href="/Transactions/Details/{{Id}}">{{Text}}</a>',
                '</td>',
                '<td>',
                    '{{Value}} DKK',
                '</td>',
                '<td>',
                    '{{Date}}',
                '</td>',
                '<td>',
                    '<a href="Categories/Edit/{{Cat_ID}}">{{Name}}</a>',
                '</td>',
            '</tr>'
        ].join('\n');

        let socket = io('localhost:3000');

        socket.on('GetAllTransactions', function (res) {
            res.Result = JSON.parse(res.Result);
            console.log(JSON.stringify(res, null, 4));
            if (res.Status === 200)
            {
                for (let i = 0; i < res.Result.length; i++)
                {
                    res.Result[i].Date = res.Result[i].Date.substring(0, 10);
                    let elm = renderTemplate(template, res.Result[i]);
                    $('#transactionTable').append(elm);
                }
            }
        });

        socket.emit('GetAllTransactions', '');
    </script>
}
